extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	// //////////////////WELCOME SLIDER SECTION//////////////////
	section.services_welcome_slider
		.main_title
			h1 Chúng tôi là FullStack Vietnam
			p 
				|Reference site about Lorem Ipsum, giving 
				br.responsive_breakline
				|information on its origins, as well as a
				br.responsive_breakline
				|random Lipsum generator.
		.owl-carousel.owl-theme
			.services_welcome_slider_item
				.services_welcome_slider_item_img
					img(src="./img/services_slider_1.png", alt="")
			.services_welcome_slider_item
				.services_welcome_slider_item_img
					img(src="./img/services_slider_1.png", alt="")
			.services_welcome_slider_item
				.services_welcome_slider_item_img
					img(src="./img/services_slider_1.png", alt="")

	// //////////////////NEWS SECTION//////////////////
	section.services_news
		.container
			.row
				.col.page_title.page_title_purple_black
					h2 FullStack 
						span chuyên nghiệp
			.row
				.col-md-4.services_news_item
					a(href="#")
						figure
							.services_news_item_img
								i.fa.fa-eye
								.services_welcome_slider_item_img
									img(src="./img/services_block_1.png", alt="")
							figcaption
								h3 Lorem ipsum dolor
								time 18/08/2018
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corrupti at enim eius, molestiae quaerat facilis deleniti nostrum delectus saepe, provident magnam sapiente expedita veritatis officiis consequuntur qui ipsa. Voluptatem.
				.col-md-4.services_news_item
					a(href="#")
						figure
							.services_news_item_img
								i.fa.fa-eye
								.services_welcome_slider_item_img
									img(src="./img/services_block_2.png", alt="")
							figcaption
								h3 Lorem ipsum dolor
								time 18/08/2018
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corrupti at enim eius, molestiae quaerat facilis deleniti nostrum delectus saepe, provident magnam sapiente expedita veritatis officiis consequuntur qui ipsa. Voluptatem.
				.col-md-4.services_news_item
					a(href="#")
						figure
							.services_news_item_img
								i.fa.fa-eye
								.services_welcome_slider_item_img
									img(src="./img/services_block_3.png", alt="")
							figcaption
								h3 Lorem ipsum dolor
								time 18/08/2018
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corrupti at enim eius, molestiae quaerat facilis deleniti nostrum delectus saepe, provident magnam sapiente expedita veritatis officiis consequuntur qui ipsa. Voluptatem.

	// //////////////////PARTNER SECTION//////////////////
	section.services_partner
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_1.png", alt="")
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_2.png", alt="")
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_3.png", alt="")
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_4.png", alt="")
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_5.png", alt="")
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_6.png", alt="")
						.services_partner_item
							a(href="#")
								img(src="./img/services_partner_slider_4.png", alt="")



	// //////////////////CONTACT INFO SECTION//////////////////
	section.services_contact_info.p-4.pl-md-0.pr-md-0
		.container
				.row
					.col-12.col-sm-12.col-md.mb-4.mb-sm-0
						h3 fullstack vietnam
						ul.list-unstyled.text-small
							li
								span Mobile: (+84) 969689893
							li
								span Email: admin@fullstackvietnam.com
							li
								span Địa chỉ: 28, đường số 2 - CITY LAND - Phường 7 - Gò Vấp - TPHCM
					.col-12.col-sm-6.col-md.mb-4.mb-sm-0
						h3 links
						ul.list-unstyled.text-small.links_list
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1 
									span Khóa học FrontEnd Master
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Khóa học FullStack Developer
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Khóa học Design chuyên nghiệp
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Lịch khai giảng
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Đăng ký khóa học
					.col-12.col-sm-6.col-md
						ul.list-unstyled.text-small.block-2.links_list
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1 
									span Khóa học FrontEnd Master
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Khóa học FullStack Developer
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Khóa học Design chuyên nghiệp
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Lịch khai giảng
							li
								a(href="#")
									i.fa.fa-arrow-right.pr-1
									span Đăng ký khóa học
