<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col
				p Copyright 2018 by FullStack Vietnam
				.social_buttons.mt-5.mt-md-0
					a(href="#").btn.btn_social
						i.fa.fa-twitter
					a(href="#").btn.btn_social
						i.fa.fa-facebook