<!-- ////////////// HEADER ////////////// -->
header
	.container.container_no_padding
		nav.navbar.navbar-expand-md
			a.navbar-brand(href="#") 
				img(src="./img/logo.png", alt="Logo")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href="index.html") 
							|home
					li.nav-item
						a.nav-link(href="about.html") services
					li.nav-item
						a.nav-link(href="about.html") about
					li.nav-item
						a.nav-link(href="about.html") contact
<!-- ////////////// HEADER ////////////// -->
